<app-loader *ngIf="loading"></app-loader>
<section id="fin-operacion" *ngIf="!loading && exito">
    <div class="row">
        <div class="col-12">
            <div class="card text-center">
                <div class="card-body">
                    <div class="row mb-1">
                        <div class="col-12">
                            <img class="imagen" src="assets/img/success.png" width="120px">
                            <h2 class="text-center"><b>¡Pago Exitoso!</b></h2>
                            <h2 class="card-text">Su pago fue procesado exitosamente</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="fin-operacion" *ngIf="!loading && !exito">
    <div class="row">
        <div class="col-12">
            <div class="card text-center">
                <div class="card-body">
                    <div class="row mb-1">
                        <div class="col-12">
                            <img class="imagen" src="assets/img/cancel.png" width="120px">
                            <h2 class="text-center"><b>Tuvimos un problema</b></h2>
                            <h2 class="card-text">No hemos podido procesar tu pago</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-public-footer></app-public-footer>