<nav class="navbar navbar-expand-lg ">
    <a class="navbar-brand" href="#"> <img src="assets/img/logo-color.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Inicio</a>
            <a class="nav-item nav-link" href="#">Documentos</a>
            <a class="nav-item nav-link" href="#">Faq</a>
            <a class="nav-item nav-link" href="#">Consultar a un abogado</a>
            <div class="searchbar">
                <input class="search_input" type="text" name="" placeholder="Buscar un documento">
                <a href="#" class="search_icon"><img src="assets/img/lupa.png" width="100%"></a>
            </div>
        </div>
    </div>
</nav>