<div class="accordion" id="accordionExample">
    
    <div class="row">
      <div class="col-10">{{ categoria.nombre }}</div>
      <div class="col-2">
        <button
          type="button"
          class="btn btn-primary"
          (click)="crearCategoria(categoria._id)"
        >
          Crear Sub-Categoría
        </button>
      </div>
    </div>

  <span *ngIf="categoria.descendientes?.length > 0">
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let categoria of categoria.descendientes"
      >
        <app-arbol-item [categoria]="categoria"></app-arbol-item>
      </li>
    </ul>
  </span>
</div>
