<div class="row">
    <div *ngIf="categoria.descendientes?.length > 0" class="col-2">
        <button
            data-toggle="collapse"
            [attr.data-target]="'#' + categoria.nombre"
            type="button"
        >
            <i class="material-icons float-left">
                unfold_more
            </i>
        </button>
    </div>
    <div class="col-8">{{ categoria.nombre }}</div>
    <div class="col-2">
        <button
            type="button"
            class="btn btn-primary"
            (click)="crearCategoria(categoria._id)"
        >
            Crear Sub-Categoría
        </button>
    </div>
</div>

<div class="collapse show" id="{{ categoria.nombre }}" #accordion>
    <span *ngIf="categoria.descendientes?.length > 0">
        <ul class="list-group">
            <li
                class="list-group-item"
                *ngFor="let categoria of categoria.descendientes"
            >
                <app-arbol-item [categoria]="categoria"></app-arbol-item>
            </li>
        </ul>
    </span>
</div>
