<app-public-menu></app-public-menu>
<section id="portada">
    <div class="row">
        <div class="col-md-7 col-sm-12">
            <div class="title">
                <h1 class="titulo">CREA FÁCILMENTE TUS DOCUMENTOS LEGALES</h1>
                <h4 class="subtitulo">Busca, guarda, edita e imprime.</h4>
            </div>
            <button class="btn btn-warning">Comenzar</button>
        </div>
        <div class="col-md-5 col-sm-12">
            <img id="imagen" src="assets/img/imagen-inicio.png" width="100%">
        </div>
    </div>
</section>
<app-public-footer></app-public-footer>