<app-public-menu></app-public-menu>
<section id="portada">
    <div class="row">
        <div class="col-md-7 col-sm-12">
            <div class="title">
                <h1 class="titulo">CREA FÁCILMENTE TUS DOCUMENTOS LEGALES</h1>
                <h4 class="subtitulo">Busca, guarda, edita e imprime.</h4>
            </div>
            <a class="btn btn-warning" href="#about">Comenzar</a>
        </div>
        <div class="col-md-5 col-sm-12">
            <img id="imagen" src="assets/img/imagen-inicio.png" width="100%">
        </div>
    </div>
</section>
<section id="proceso">
    <div class="row">
        <div class="col-md-3 text-center">
            <div class="container-imagen">
                <img class="imagen" src="assets/img/proceso-01.png" width="120px">
            </div>
            <br>
            <span>1. Elegí el documento</span>
        </div>
        <div class="col-md-3 text-center">
            <div class="container-imagen">
                <img class="imagen" src="assets/img/proceso-02.png" width="95px">
            </div>
            <br>
            <span>2. Completá el formulario</span>
        </div>
        <div class="col-md-3 text-center">
            <div class="container-imagen">
                <img class="imagen" src="assets/img/proceso-03.png" width="120px">
            </div>
            <br>
            <span>3. Guardalo</span>
        </div>
        <div class="col-md-3 text-center">
            <div class="container-imagen">
                <img class="imagen" src="assets/img/proceso-04.png" width="135px">
            </div>
            <br>
            <span>4. Imprimilo</span>
        </div>
    </div>
</section>
<section id="confianza">
    <div class="row">
        <div class="col-sm-6 text">
            <div class="row">
                <div class="col-md-2">
                    <img class="imagen" src="assets/img/Confianza01.png" width="50px">
                </div>
                <div class="col-md-10">
                    <b>Sencillo y rápido</b><br>
                    Formularios intuitivos y de facil redacción
                </div>
            </div>
        </div>
        <div class="col-sm-6 text">
            <div class="row">
                <div class="col-md-2">
                    <img class="imagen" src="assets/img/Confianza02.png" width="50px">
                </div>
                <div class="col-md-10">
                    <b>Todo lo que necesitas en un solo lugar</b><br>
                    100 modelos de cartas y contratos en Argentina
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 text">
            <div class="row">
                <div class="col-md-2">
                    <img class="imagen" src="assets/img/Confianza03.png" width="50px">
                </div>
                <div class="col-md-10">
                    <b>Seguridad</b><br>
                    Miles de usuarios confían en nosotros
                </div>
            </div>
        </div>
        <div class="col-sm-6 text">
            <div class="row">
                <div class="col-md-2">
                    <img class="imagen" src="assets/img/Confianza04.png" width="50px">
                </div>
                <div class="col-md-10">
                    <b>Medio de pago</b><br>
                    Mercado Pago
                </div>
            </div>
        </div>
    </div>
</section>
<section id="about">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1>En este sitio podrás realizar</h1><br>
            <p><b>Cartas, Contratos, documentos legales y administrativos para profesionales y particulares.</b></p>
            <p>Solo debes completar un formulario y el documento se va redactando automáticamente, como por arte de
                magia. <br>Luego lo recibís en formato Word para poder modificar lo que quieras.</p>
        </div>
    </div>
    <div class="row mt-10">
        <div class="col-sm-6 text-center">
            <h1 class="title-tipo">Profesionales</h1>
            <a href="/documentos/profesional">
                <img class="imagen" src="assets/img/profesionales.png" width="180px">
            </a>
        </div>
        <div class="col-sm-6 text-center">
            <h1 class="title-tipo">Particulares</h1>
            <a href="/documentos/particular">
                <img class="imagen" src="assets/img/particulares.png" width="180px">
            </a>
        </div>
    </div>
</section>
<app-public-footer></app-public-footer>