<div class="container-fluid">
    <div class="row heading">
        <div class="col-sm-6">
            <h2>Preguntas frecuentes<br><small class="subtitle">Listado</small></h2>
        </div>
        <div class="col-6">
            <button type="button" class="btn btn-sm btn-success float-right" (click)="crearFaq()">
                Nueva pregunta
            </button>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-sm-12">
            <app-loader *ngIf="loading"></app-loader>
        </div>
    </div>
    <div *ngFor="let faq of faqs">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="row justify-content-start pb-3">
                    <div class="col-12 justify-content-center ">
                        <span class="align-bottom">{{ faq.pregunta }}</span>
                        <div class="btn-group float-right">
                            <button type="button" class="btn btn-xs btn-link">
                                <i class="material-icons small float-left" (click)="borrarFaq(faq._id)">
                                    delete
                                </i>
                            </button>
                            <button type="button" class="btn btn-xs btn-link">
                                <i class="material-icons small float-left" (click)="editarFaq(faq._id)">
                                    edit
                                </i>
                            </button>
                        </div>
                        <hr>
                        <small [innerHTML]="faq.contenido"></small>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<br>