<div class="container">
  <form *ngIf="!(cambiarPass$ | async)" [formGroup]="usuarioForm" (ngSubmit)="onSubmitDatos()" class="form">
    <div class="form-group">
      <label for="email">Nombre</label>
      <input type="text" formControlName="nombre" name="nombre" required />
    </div>
    <div class="form-group">
      <label for="apellido">Apellido</label>
      <input type="text"  formControlName="apellido" name="apellido" required />
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" formControlName="email" name="email" required />
    </div>

    <span *ngIf="activarEdicion$ | async">
      <button type="submit" class="btn btn-primary">Guardar</button>
      <button type="button" class="btn btn-danger" (click)="toggleEdicion()">Cancelar</button>
    </span>

    <span *ngIf="!(activarEdicion$ | async)">
      <button type="button" class="btn btn-primary" (click)="toggleEdicion()">Modificar</button>
      <button type="button" class="btn btn-warning" (click)="toggleCambiarPass()">Cambiar Contraseña</button>
    </span>

  </form>

  <form *ngIf="cambiarPass$ | async" [formGroup]="cambiarPassForm" (ngSubmit)="onSubmitPass()" class="form">
    <div class="form-group">
      <label for="email">Contraseña actual</label>
      <input type="password" formControlName="passActual" name="passActual" required />
    </div>
    <div class="form-group">
      <label for="apellido">Nueva contraseña</label>
      <input type="password" formControlName="nuevaPass" name="apellido" required />
    </div>
    <div class="form-group">
      <label for="email">Confirme nueva contraseña</label>
      <input type="password" formControlName="confirmaNuevaPass" name="email" required />
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Guardar</button>
      <button type="button" class="btn btn-danger" (click)="toggleCambiarPass()">Cancelar</button>
    </div>
  </form>
</div>
