<div class="container-fluid" *ngIf="showDoc">
  <h2>{{ documento?.nombre }}</h2>
  <br />
  <div class="row">
    <!-- Columna izquieda, lista de campos -->
    <div class="col-4 pr-4">
      <div class="card" [formGroup]="borradorForm">
        <div class="card-body">
          <div class="row mb-5">
            <p class="card-text">{{ documento.campos[campoIndex].descripcion }}</p>
          </div>
          <div class="row mb-5" *ngIf="documento.campos[campoIndex].tipo === 'input'">
            <input type="text" [formControl]="camposFormArray.controls[campoIndex]" />
          </div>
          <div class="row mb-5" *ngIf="documento.campos[campoIndex].tipo === 'opciones'">
            <select [formControl]="camposFormArray.controls[campoIndex]" class="form-control" id="tipo">
              <option *ngFor="let opcion of documento.campos[campoIndex].opciones" [value]="opcion">{{
                opcion
              }}</option>
            </select>
          </div>
          <div class="row mb-5" *ngIf="documento.campos[campoIndex].tipo === 'boolean'">
            <select [formControl]="camposFormArray.controls[campoIndex]" class="form-control" id="tipo">
              <option *ngFor="let opcion of documento.campos[campoIndex].opciones" [value]="opcion">{{
                opcion
              }}</option>
            </select>
          </div>
          <div class="row btn-group">
            <button
              type="button"
              class="btn btn-secondary mr-4"
              (click)="getCampoAnterior()"
              [disabled]="campoIndex < 1"
            >
              Paso anterior
            </button>
            <button
              type="button"
              class="btn btn-primary"
              (click)="getCampoSiguiente()"
              [disabled]="campoIndex >= camposFormArray.length"
            >
              Paso siguiente
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Columna derecha, editor -->
    <div class="col-8" [formGroup]="editorForm">
      <editor
        #tinyEditor
        apiKey="xw7i6xqrjfmfj32n3l20w1lb0mek7bbf4kffwtu7is30t377"
        formControlName="html"
        (onInit)="handleEditorInit($event)"
        [init]="editorInitObject"
      ></editor>
    </div>
  </div>
  <!-- </form> -->
</div>

<div class="container-fluid" *ngIf="showMailForm">
  <div class="row justify-content-center" [formGroup]="borradorForm">
    <div class="card">
      <div class="card-body">
        <div class="row mb-5">
          <p class="card-text">Dirección de correo electrónico (para recibir el documento)</p>
        </div>
        <div class="row mb-5">
          <input type="text" formControlName="emailCliente" />
        </div>
        <div class="row btn-group">
          <button type="button" class="btn btn-secondary" (click)="enviarDocumento()">
            Obtener documento
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
