<app-public-menu></app-public-menu>
<app-loader *ngIf="loading"></app-loader>
<section id="info-documento" *ngIf="!loading">
    <div class="row">
        <div class="col-4">
            <img class="imagen" src="assets/img/preview-doc.png" width="190px">
        </div>
        <div class="col-7">
            <h5><b>{{documento.nombre}}</b></h5>
            <div class="caracteristicas mt-5">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-md-3">
                                <img class="imagen" src="assets/img/estado.png" width="40px">
                            </div>
                            <div class="col-md-9 pt-2 pl-2">
                                <h5>Estado</h5>
                                <h5 class="grey">Actualizado</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-md-3">
                                <img class="imagen" src="assets/img/formato.png" width="31px">
                            </div>
                            <div class="col-md-9 pt-2 pl-2">
                                <h5>Formato</h5>
                                <h5 class="grey">Word y PDF</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-md-3">
                                <img class="imagen" src="assets/img/tamaño.png" width="16px">
                            </div>
                            <div class="col-md-9 pt-2 pl-2">
                                <h5>Tamaño</h5>
                                <h5 class="grey">15 a 22 páginas</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="/nuevo-borrador/{{documento._id}}" class="btn btn-warning mt-5">Completar modelo</a>
        </div>
    </div>
</section>
<section id="pasos">
    <div class="row">
        <div class="col-12 text-center">
            <h5>¿Cómo funciona?</h5>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-4">
            <div class="row">
                <div class="col-md-3">
                    <img class="imagen" src="assets/img/preview-01.png" width="70px">
                </div>
                <div class="col-md-9">
                    <h5>1. Elegí este modelo</h5>
                    Empezá haciendo click en <b>"Completar modelo"</b>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col-md-3">
                    <img class="imagen" src="assets/img/preview-02.png" width="70px">
                </div>
                <div class="col-md-9">
                    <h5>2. Completá el formulario</h5>
                    Contestá algunas preguntas y tu documento se creará automáticamente
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col-md-3">
                    <img class="imagen" src="assets/img/preview-03.png" width="70px">
                </div>
                <div class="col-md-9">
                    <h5>3. Guardalo e Imprimilo</h5>
                    ¡Tu documento está listo! Lo recibirás en los formatos <b>word</b> y <b>PDF</b> por e-mail
                </div>
            </div>
        </div>
    </div>
</section>
<app-public-footer></app-public-footer>