<!-- Footer -->
<footer class="footer">
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-md-4 mt-md-0 mt-3 links">
                <a>Aviso legal</a>
                <hr>
                <a>Guías legales</a>
                <hr>
                <a>Mapa del sitio</a>
                <hr>
                <a>Condiciones generales</a>
                <br>
            </div>
            <div class="col-md-4 mt-md-0 mt-3 links">
                <a>FAQ</a>
                <hr>
                <a>Cuenta</a>
                <hr>
                <a>Contacto</a>
                <hr>
                <a>Consultar a un abogado</a>
                <br>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12">
                <img class="imagen" src="assets/img/logo-blanco.png" width="120px">
            </div>
        </div>
    </div>
</footer>
<!-- Footer -->