<!-- Footer -->
<footer class="footer">
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-md-5 mt-md-0 mt-3 links">
                <a class="link" href="/preguntas-frecuentes">Preguntas frecuentes</a>
                <hr>
                <a>Contacto</a>
                <hr>
                <a>Aviso de privacidad</a>
                <hr>
                <a>Términos de Servicio</a>
                <hr>
                <a>&copy; Legal Aid - Todos los derechos reservados</a>
                <br>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12">
                <img class="imagen" src="assets/img/logo-blanco.png" width="120px">
            </div>
        </div>
    </div>
</footer>
<!-- Footer -->