<section id="documentos">
    <h1 class="text-center" *ngIf="tipo === 'profesional'">MODELOS PROFESIONALES</h1>
    <h1 class="text-center" *ngIf="tipo === 'particular'">MODELOS PARTICULARES</h1>
    <div *ngIf="tipo === 'profesional'" class="mensaje">
        <p>Todos los documentos, modelos, ejemplos, actas, cartas y contratos administrativos y legales para
            profesionales,
            están dirigidos a todo tipo de empresas de cualquier tamaño desde la empresa unipersonal hasta las grandes
            empresas.
            Elegí un modelo de documento de la siguiente lista y completalo guiado por un formulario muy simple.</p>
    </div>
    <div *ngIf="tipo === 'particular'" class="mensaje">
        <p>Todos los documentos, modelos, ejemplos, actas, cartas y contratos administrativos y legales para
            particulares. Elegí un modelo de documento de la siguiente lista y completalo con un formulario muy
            simple.</p>
    </div>
    <app-loader *ngIf="loading"></app-loader>
    <div class="accordion mt-5" id="accordionDocumentos" *ngIf="!loading">
        <div class="row" *ngFor="let categoria of categorias;index as i">
            <div class="col-1" style="padding: 12px;">
                <img id="imagen" class="float-right align-middle" *ngIf="!categoria.active"
                    src="assets/img/question-closed.png" width="22px">
                <img id="imagen" class="float-right align-middle" *ngIf="categoria.active"
                    src="assets/img/question-open.png" width="22px">
            </div>
            <div class="col-11">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                            [attr.data-target]="'#categoria-' + i" aria-expanded="true" (click)="change(categoria)">
                            {{ categoria.nombre | uppercase }}
                        </button>
                    </div>
                    <div id="categoria-{{i}}" class="collapse" aria-labelledby="headingOne"
                        data-parent="#accordionDocumentos">
                        <public-item-arbol [categoria]="categoria">
                        </public-item-arbol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-public-footer></app-public-footer>