<div class="container-fluid">
    <div class="row heading">
        <div class="col-sm-6">
            <h2>Documentos<br><small class="subtitle">Listado</small></h2>
        </div>
        <div class="col-6">
            <button type="button" class="btn btn-sm btn-success float-right" (click)="crearDocumento()">
                Nuevo documento
            </button>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-sm-12">
            <app-loader *ngIf="loading"></app-loader>
        </div>
    </div>
    <table mdbTable #tableEl="mdbTable" stickyHeader="true" hover="true" striped="true" class="z-depth-1">
        <thead class="sticky-top" *ngIf="!loading">
            <tr>
                <th *ngFor="let head of headElements; let i = index" [mdbTableSort]="elements"
                    [sortBy]="headElements[i]" scope="col">{{head | titlecase}} <mdb-icon fas icon="sort"></mdb-icon>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody #row *ngIf="!loading">
            <tr mdbTableCol *ngFor="let documento of elements; let i = index">
                <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"
                    scope="row">{{documento.nombre}}</th>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"
                    class="red-text">{{documento.tipo}}</td>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"
                    class="red-text">{{documento.campos.length}}</td>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"
                    class="red-text"><b>$</b> {{documento.precio}}</td>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"
                    class="red-text">
                    <button *ngIf="documento.campos?.length < 1" type="button" class="btn btn-xs btn-link float-right"
                        title="Eliminar documento">
                        <i class="material-icons small " (click)="borrarDocumento(documento._id)">
                            delete
                        </i>
                    </button>
                    <button type="button" class="btn btn-xs btn-link float-right"
                        (click)="camposDocumento(documento._id)">
                        <i class="material-icons small" title="Agregar campo">
                            add
                        </i>
                    </button>
                    <button type="button" class="btn btn-xs btn-link float-right"
                        (click)="editarContenido(documento._id)">
                        <i class="material-icons small" title="EditarContenido">
                            edit
                        </i>
                    </button></td>
            </tr>
        </tbody>
        <tfoot class="grey lighten-5 w-100">
            <tr>
                <td colspan="4">
                    <mdb-table-pagination [tableEl]="tableEl" paginationAlign="" [searchDataSource]="elements">
                    </mdb-table-pagination>
                </td>
            </tr>
        </tfoot>
    </table>
</div>