<app-loader *ngIf="loading"></app-loader>
<div id="crear-borrador" *ngIf="showDoc && !loading">
  <h5>
    <b>{{ documento?.nombre }}</b>
  </h5>
  <br />
  <div class="row">
    <!-- Columna izquieda, lista de campos -->
    <div class="col-sm-12 col-md-4 pr-4" *ngIf="editorLoaded">
      <div class="card" [formGroup]="borradorForm">
        <div class="card-body">
          <div *ngIf="!subdocumentoActivo" class="row mb-5">
            <div class="col-sm-12" *ngIf="!documento.campos[campoIndex].ayuda">
              <p class="card-text">{{ documento.campos[campoIndex].descripcion }}</p>
            </div>
            <div class="col-sm-10" *ngIf="documento.campos[campoIndex].ayuda">
              <p class="card-text">{{ documento.campos[campoIndex].descripcion }}</p>
            </div>
            <div class="col-sm-2" *ngIf="documento.campos[campoIndex].ayuda">
              <button type="button" data-toggle="modal" data-target="#myModal"
                style="-webkit-appearance: none; background: white; border: 0px">
                <img class="imagen" src="assets/img/question.png" width="30px" />
              </button>
            </div>
            <!-- The Modal -->
            <div class="modal" id="myModal">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <!-- Modal body -->
                  <div class="modal-body">
                    <div [innerHTML]="documento.campos[campoIndex].ayuda"></div>
                    <div class="row">
                      <div class="col-12 text-center">
                        <button type="button" class="btn text-center pl-0 pr-0 mt-2" data-dismiss="modal">
                          <b>OK</b>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="subdocumentoActivo" class="row mb-5">
            <div class="col-sm-12" *ngIf="!subdocumentoElegido.campos[subcampoIndex].ayuda">
              <p class="card-text">{{ subdocumentoElegido.campos[subcampoIndex].descripcion }}</p>
            </div>
            <div class="col-sm-10" *ngIf="subdocumentoElegido.campos[subcampoIndex].ayuda">
              <p class="card-text">{{ subdocumentoElegido.campos[subcampoIndex].descripcion }}</p>
            </div>
            <div class="col-sm-2" *ngIf="subdocumentoElegido.campos[subcampoIndex].ayuda">
              <button type="button" data-toggle="modal" data-target="#myModal"
                style="-webkit-appearance: none; background: white; border: 0px">
                <img class="imagen" src="assets/img/question.png" width="30px" />
              </button>
            </div>
            <!-- The Modal -->
            <div class="modal" id="myModal">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <!-- Modal body -->
                  <div class="modal-body">
                    <div [innerHTML]="subdocumentoElegido.campos[subcampoIndex].ayuda"></div>
                    <div class="row">
                      <div class="col-12 text-center">
                        <button type="button" class="btn text-center pl-0 pr-0 mt-2" data-dismiss="modal">
                          <b>OK</b>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <span *ngIf="!subdocumentoActivo">
            <div class="row mb-5" *ngIf="documento.campos[campoIndex].tipo === 'input'">
              <div class="col-sm-12">
                <input type="text" class="form-control btn-block " [formControl]="camposFormArray.controls[campoIndex]"
                  (keydown)="charControl($event)" />
              </div>
            </div>
            <div class="row mb-5" *ngIf="documento.campos[campoIndex].tipo === 'opciones'">
              <div class="col-sm-12">
                <select [formControl]="camposFormArray.controls[campoIndex]" class="form-control" id="tipo">
                  <option *ngFor="let opcion of documento.campos[campoIndex].opciones" [value]="opcion">
                    {{ opcion }}
                  </option>
                </select>
              </div>
            </div>
            <div class="row mb-5" *ngIf="documento.campos[campoIndex].tipo === 'subdocumento'">
              <div class="col-sm-12">
                <select [formControl]="camposFormArray.controls[campoIndex]" class="form-control" id="tipo">
                  <option *ngFor="let opcion of documento.campos[campoIndex].opcionesSubdocumento" [ngValue]="opcion">
                    {{ opcion.value }}
                  </option>
                </select>
              </div>
            </div>
            <div class="row mb-5" *ngIf="documento.campos[campoIndex].tipo === 'boolean'">
              <div class="col-sm-12">
                <select [formControl]="camposFormArray.controls[campoIndex]" class="form-control" id="tipo">
                  <option *ngFor="let opcion of documento.campos[campoIndex].opciones" [value]="opcion">
                    {{ opcion }}
                  </option>
                </select>
              </div>
            </div>
            <div class="row mb-5" *ngIf="documento.campos[campoIndex].tipo === 'date'">
              <div class="col-sm-12">
                <input type="text" placeholder="" class="form-control btn-block"
                  [formControl]="camposFormArray.controls[campoIndex]" class="form-control" bsDatepicker
                  [bsConfig]="{ isAnimated: true, dateInputFormat: 'DD/MM/YYYY',containerClass: 'theme-default' }">

              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <button type="button" class="btn btn-warning" (click)="getCampoAnterior()" [disabled]="campoIndex < 1">
                  Paso anterior
                </button>
              </div>
              <div class="col-6">
                <button type="button" class="btn btn-primary" (click)="getCampoSiguiente()"
                  [disabled]="campoIndex >= camposFormArray.length">
                  Paso siguiente
                </button>
              </div>
            </div>
          </span>

          <!-- 
            OJOO
            SUBDOCUMENTOOO
           -->
          <span *ngIf="subdocumentoActivo">
            <div class="row mb-5" *ngIf="subdocumentoElegido.campos[subcampoIndex].tipo === 'input'">
              <div class="col-sm-12">
                <input type="text" class="form-control btn-block"
                  [formControl]="subCamposFormArray.controls[subcampoIndex]" (keydown)="charControl($event)" />
              </div>
            </div>
            <div class="row mb-5" *ngIf="subdocumentoElegido.campos[subcampoIndex].tipo === 'opciones'">
              <div class="col-sm-12">
                <select [formControl]="subCamposFormArray.controls[subcampoIndex]" class="form-control" id="tipo">
                  <option *ngFor="let opcion of subdocumentoElegido.campos[subcampoIndex].opciones" [value]="opcion">
                    {{ opcion }}
                  </option>
                </select>
              </div>
            </div>
            <div class="row mb-5" *ngIf="subdocumentoElegido.campos[subcampoIndex].tipo === 'boolean'">
              <div class="col-sm-12">
                <select [formControl]="subCamposFormArray.controls[subcampoIndex]" class="form-control" id="tipo">
                  <option *ngFor="let opcion of subdocumentoElegido.campos[subcampoIndex].opciones" [value]="opcion">
                    {{ opcion }}
                  </option>
                </select>
              </div>
            </div>
            <div class="row mb-5" *ngIf="subdocumentoElegido.campos[subcampoIndex].tipo === 'date'">
              <div class="col-sm-12">
                <input type="text" placeholder="" class="form-control btn-block"
                  [formControl]="subCamposFormArray.controls[subcampoIndex]" class="form-control" bsDatepicker
                  [bsConfig]="{ isAnimated: true, dateInputFormat: 'DD/MM/YYYY',containerClass: 'theme-default' }">
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <button type="button" class="btn btn-warning" (click)="getSubCampoAnterior()">Paso anterior</button>
              </div>
              <div class="col-6">
                <button type="button" class="btn btn-primary" (click)="getSubCampoSiguiente()">Paso siguiente</button>
              </div>
            </div>
          </span>

          <!-- 
              FIN
            SUBDOCUMENTOOO
           -->
        </div>
      </div>
    </div>
    <!-- Columna derecha, editor -->
    <div class="col-sm-12 col-md-8" id="editor" [formGroup]="editorForm">
      <editor apiKey="xw7i6xqrjfmfj32n3l20w1lb0mek7bbf4kffwtu7is30t377" formControlName="html"
        (onInit)="handleEditorInit($event)" [init]="editorInitObject"></editor>
    </div>
  </div>
  <!-- </form> -->
</div>

<div id="fin-documento" *ngIf="showMailForm">
  <div class="row">
    <div class="col-12">
      <h1>Tu documento está listo</h1>
    </div>
  </div>
  <div class="alert alert-danger" *ngIf="enviando" role="alert">
    Una vez recibido el pago, enviaremos el archivo a su correo
  </div>
  <div class="row" [formGroup]="borradorForm">
    <div class="col-sm-9">
      <div class="mensaje">
        <div class="row">
          <div class="col-9">
            <h5>{{ documento?.nombre }}</h5>
            <p>
              Descarga inmediata en formato PDF<br />
              Precio en pesos argentinos.
            </p>
          </div>
          <div class="col-3 d-flex justify-content-end align-items-center">
            <h5 class="align-middle">$ {{ documento?.precio }}</h5>
          </div>
        </div>
      </div>
      <div class="card text-center">
        <div class="card-body">
          <div class="row mb-1">
            <div class="col-12">
              <p class="card-text">Dirección de correo electrónico (para recibir el documento)</p>
            </div>
          </div>
          <div class="row mb-5">
            <div class="col-12">
              <input type="text" class="email" formControlName="emailCliente" />
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <input type="checkbox" class="mr-1" (click)="aceptarCondiciones()" />
              <label> Acepto las condiciones generales de venta <a href="">(leer las CGV)</a></label>
              <button type="button" class="btn btn-warning" (click)="enviarDocumento()"
                [disabled]="!aceptoTerminos || enviando">
                HACER EL PEDIDO (servidor seguro)
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div id="pago-seguro" class="text-center">
        <h5>PAGO SEGURO</h5>
        <p class="text-left">
          <small>Pagá con total seguridad.<br />
            Nuestro banco asociado garantiza <b>la seguridad de sus operaciones.</b></small>
        </p>
      </div>
    </div>
  </div>
</div>
<app-public-footer></app-public-footer>