<div class="container-fluid">
  <div class="row heading">
    <div class="col-sm-6">
      <h2>Categorías<br><small class="subtitle">Listado</small></h2>
    </div>
    <div class="col-6">
      <button type="button" class="btn btn-sm btn-success float-right" (click)="crearCategoria()">
        Nueva categoría
      </button>
    </div>
  </div>

  <div *ngFor="let categoria of $categorias  | async">
    <ul class="list-group" *ngIf="!categoria.padre">
      <li class="list-group-item">
        <app-arbol-item [categoria]="categoria"></app-arbol-item>
      </li>
    </ul>
  </div>
</div>