<app-loader *ngIf="loading"></app-loader>
<section id="busqueda" *ngIf="!loading">
    <h1 class="text-center">RESULTADOS DE LA BÚSQUEDA</h1>
    <p *ngIf="documentos.length > 0" class="title">Tenemos {{documentos.length}} documentos para "{{busqueda}}".</p>
    <p *ngIf="documentos.length == 0" class="title">No se han encontrado documentos que coincidan con
        "{{busqueda}}".
    </p>
    <div class="documento" *ngFor="let documento of documentos">
        <a class="title" href="/ver-documento/{{documento._id}}">
            <p>{{documento.nombre}}
            </p>
        </a>
        <p class="descripcion">{{documento.descripcion}}
        </p>
    </div>
</section>
<app-public-footer></app-public-footer>