<div class="modal-header">
  <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div class="row">
    <div class="col-12">
      <form [formGroup]="campoForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-12">
            <div class="form-group justify-content-start">
              <label for="descripcion">Pregunta a mostrar (requerido)</label>
              <textarea
                rows="3"
                formControlName="descripcion"
                type="text"
                class="form-control"
                id="descripcion"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default"
                required
              ></textarea>
            </div>
          </div>
        </div>
        <div class="row justify-content-center mt-1">
          <div class="col-6">
            <div class="form-group">
              <label for="precio">Nombre (requerido)</label>
              <input
                formControlName="nombre"
                type="text"
                class="form-control"
                id="nombre"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default"
                required
              />
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="exampleFormControlSelect1">Tipo (requerido)</label>
              <select formControlName="tipo" class="form-control" id="tipo">
                <option value="input">Texto Libre</option>
                <option value="boolean">Binario</option>
                <option value="opciones">Selección</option>
                <option value="date">Fecha</option>
                <option value="subdocumento">Selección con subdocumento</option>
              </select>
            </div>
          </div>
        </div>
        <span *ngIf="showOpciones$ | async">
          <label>Opciones</label>
          <div class="row" *ngFor="let opcionControl of opciones.controls; let i = index">
            <div class="col-10">
              <div class="form-group justify-content-start">
                <input
                  [formControl]="opciones.controls[i]"
                  type="text"
                  class="form-control"
                  aria-label="Sizing example input"
                  aria-describedby="inputGroup-sizing-default"
                />
              </div>
            </div>
            <div
              class="col-2"
              *ngIf="i === opciones.controls.length - 1 && campoForm.controls.tipo.value === 'opciones'"
            >
              <button (click)="agregarOpcion()" type="button" class="btn btn-sm btn-success">+</button>
            </div>
          </div>
        </span>
        <span *ngIf="showOpcionesSubdocumento$ | async">
          <div formArrayName="opcionesSubdocumento">
            <label>Opciones</label>
            <div  *ngFor="let opcion of opcionesSubdocumento.controls; let i = index">
              <div [formGroupName]="i" class="row">
                <div class="col-5" *ngIf="i % 2 === 0">
                  <div class="form-group justify-content-start">
                    <input
                      formControlName="value"
                      type="text"
                      class="form-control"
                      aria-label="Sizing example input"
                      aria-describedby="inputGroup-sizing-default"
                    />
                  </div>
                </div>
                <div class="col-5" *ngIf="i % 2 === 0">
                  <select class="form-control float-left" formControlName="opcionSubocumento">
                    <option *ngFor="let doc of subdocumentos" [ngValue]="doc._id">{{ doc.nombre }}</option>
                  </select>
                </div>
                <div class="col-2" *ngIf="i === opcionesSubdocumento.controls.length - 2">
                  <button (click)="agregarOpcionSubdocumento()" type="button" class="btn btn-sm btn-success">+</button>
                </div> 
              </div>

              <!-- <app-subdocumento
              [formGroupName]="i"
              [opcionForm]="opcion"
              [idx]="i"
              [disableRemove]="opcionesSubdocumento.length < 2"
              (idxToRemove)="quitarOpcionSubdocumento($event)"
            >
            </app-subdocumento> -->
              <!--   <div class="col-5" *ngIf="i % 2 === 0">
              <div class="form-group justify-content-start">
                <input
                  [formControl]="opcionesSubdocumento.controls[i].value"
                  type="text"
                  class="form-control"
                  aria-label="Sizing example input"
                  aria-describedby="inputGroup-sizing-default"
                />
              </div>
            </div>
            <div class="col-5" *ngIf="i % 2 === 0">
              <select class="form-control float-left" [formControl]="opcionesSubdocumento.controls[i + 1]">
                <option *ngFor="let doc of subdocumentos" [ngValue]="doc._id">{{ doc.nombre }}</option>
              </select>
            </div> -->
              <!-- <div class="col-2" *ngIf="i === opcionesSubdocumento.controls.length - 2">
              <button (click)="agregarOpcionSubdocumento()" type="button" class="btn btn-sm btn-success">+</button>
            </div> -->
            </div>
          </div>
        </span>
        <div class="row">
          <div class="col-12">
            <div class="form-group justify-content-start">
              <label for="ayuda">Ayuda extra</label>
              <editor
                #tinyEditor
                apiKey="xw7i6xqrjfmfj32n3l20w1lb0mek7bbf4kffwtu7is30t377"
                formControlName="ayuda"
                (onInit)="handleEditorInit($event)"
                [init]="editorInitObject"
              ></editor>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-12">
            <button type="submit" class="btn btn-sm btn-success btn-block" [disabled]="disableGuardar$ | async">
              Guardar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
