<div class="container-fluid">
    <div class="row heading">
        <div class="col-sm-6">
            <h2>Campos<br><small class="subtitle">Crear nuevo</small></h2>
        </div>
        <div class="col-6">

            <button type="button" class="btn btn-sm btn-link float-right" (click)="onCancel()"><i
                    class="material-icons float-left">
                    arrow_back
                </i></button>
        </div>
    </div>
</div>
<div class="container">
    <form [formGroup]="campoForm" (ngSubmit)="onSubmit()">
        <div class="row justify-content-center mt-5">
            <div class="col-6">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input formControlName="nombre" type="text" class="form-control" id="nombre"
                        aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" />
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="precio">Identificador</label>
                    <input formControlName="identificador" type="text" class="form-control" id="identificador"
                        aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" />
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Tipo</label>
                    <select formControlName="tipo" class="form-control" id="tipo">
                        <option>boolean</option>
                        <option>opciones</option>
                        <option>input</option>
                    </select>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="precio">Descripción</label>
                    <input formControlName="descripcion" type="text" class="form-control" id="descripcion"
                        aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <button type="submit" class="btn btn-sm btn-success"
                    [disabled]="disableGuardar$ | async">Guardar</button>
            </div>
        </div>
    </form>
</div>