@font-face {
    font-family: titillium;
    src: url('/assets/fonts/Titillium-Regular.otf') format("opentype");
}

@font-face {
    font-family: titillium-bold;
    src: url('/assets/fonts/Titillium-Bold.otf') format("opentype");
}
  
  ::ng-deep body {
    font-family: 'titillium', 'arial', sans-serif;
  }

  
::ng-deep .footer {
    width: 100%;
    line-height: 60px;
    padding: 12%;
    padding-bottom: 2%;
    padding-top: 4%;
    background-color:rgb(51,51,51);
    color:white;
    line-height: 45px;;
}

::ng-deep .footer hr {
    margin-bottom: 0px;
    margin-top: 0px; 
    border-color:white;
}

::ng-deep .footer .links{
    padding-right: 95px;
}

::ng-deep .footer .link{
    color: white !important;
}

::ng-deep .navbar{
    background-color:transparent;
    padding-left:12%;
    padding-right: 12%;
    padding-top: 20px;
    text-transform: uppercase;
}

::ng-deep .nav-link a{
    color:rgb(51,51,51);
    font-size: 15px;
    padding-top: 2%;
    text-decoration: none;
}

::ng-deep .nav-link{
    color:rgb(51,51,51);
    margin-right: 28px;
    font-size: 15px;
    padding-top: 2%;
}

::ng-deep .dropdown-menu{
    background-color:rgb(0, 51, 153);
    border: 0px;
    border-radius: 0px;
}

::ng-deep .dropdown-menu a{
    color:white;
}

::ng-deep .dropdown-item:hover {
    background-color:rgb(0, 51, 153);
    color:white;
    font-weight: bold;
}

::ng-deep .navbar-brand img{
    width: 130px;
}

::ng-deep #portada{
    padding:12%;
    padding-top:6%;
    padding-bottom:6%;
}

::ng-deep #portada .titulo{
    font-size: 45px;
    color:rgb(51,51,51);
    line-height: 55px;
    font-family: 'titillium-bold', 'arial', sans-serif;
}

::ng-deep #portada .subtitulo{
    font-size: 20px;
    color:#919191;
}

::ng-deep #portada .title{
    padding-top:10%;
    padding-bottom:10%;
}

::ng-deep .btn-warning{
    background-color: rgb(245,208,18);
    width: 180px;
    font-family: 'titillium-bold', 'arial', sans-serif;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 15px;
}

::ng-deep .searchbar{
    margin-bottom: auto;
margin-top: auto;
background-color:
#fff;
border-radius: 30px;
padding-left: 10px;
border: 3px solid
    #0099f7;
    width: 220px;
}

    ::ng-deep .search_input{
    color: black;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    transition: width 0.4s linear;
    width: 160px;
    line-height: 35px;
    }

::ng-deep .search_icon{
    height: 35px;
    width: 35px;
    float: right;
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
    border-radius: 50%;
    color:rgb(51,51,51);
    text-decoration:none;
    }

    ::ng-deep #proceso{
        padding:12%;
        padding-top:3%;
        padding-bottom:6%;
    }

    ::ng-deep #proceso .container-imagen{
        height: 120px;
    }

    ::ng-deep #proceso .imagen{
        padding:12%;
    }

    ::ng-deep #proceso span{
        font-weight: bold;
        color: rgb(102,102,102);
    }

::ng-deep #confianza{
    padding:12%;
    padding-top: 6%;
    padding-bottom: 6%;
    background-image: url('/assets/img/gradient.png');
    background-position: center;
    background-size: cover;
}

::ng-deep #confianza .text{
    color:white;
    padding:3%;
}

::ng-deep #about{
    padding:12%;
    padding-top: 6%;
    padding-bottom: 6%;
}

::ng-deep #about h1{
    font-family: 'titillium-bold', 'arial', sans-serif;
}

::ng-deep #about p{
    color: rgb(102,102,102);
}

::ng-deep #about .title-tipo{
    text-transform: uppercase;
    margin-top: 13%;
    margin-bottom:25px;
    color: rgb(0,51,153);
}

::ng-deep #faqs{
    padding:12%;
    padding-top: 3%;
    padding-bottom: 6%;
}

::ng-deep #faqs h1{
    font-family: 'titillium-bold', 'arial', sans-serif;
}
::ng-deep #faqs .card{
    border:0px;
    border-bottom: 1px solid rgb(176,176,176);
}

::ng-deep #faqs .card-body{
    padding: 0px;
    font-weight: lighter;
    color:rgb(102,102,102);
}

::ng-deep #faqs .card-header{
    background:white;
    padding: 0px;
    border: 0px;
}

::ng-deep #documentos{
    padding:12%;
    padding-top: 3%;
    padding-bottom: 6%;
}

::ng-deep #faqs .card-header .btn-link{
    padding-left: 0px;
    color:rgb(51,51,51);
    font-weight: bold;
    text-decoration: none !important;
}



::ng-deep #documentos h1{
    font-family: 'titillium-bold', 'arial', sans-serif;
}
::ng-deep #documentos .card{
    border:0px;
    border-bottom: 1px solid rgb(176,176,176);
}

::ng-deep #documentos .card-body{
    padding: 0px;
    font-weight: lighter;
    color:rgb(102,102,102);
}

::ng-deep #documentos .card-header{
    background:white;
    padding: 0px;
    border: 0px;
}

::ng-deep #documentos .subcategoria{
    font-weight: bold;
    text-transform: uppercase;
}

::ng-deep #documentos .listado-documentos{
    line-height: 30px;
}

::ng-deep #documentos .card-header .btn-link{
    padding-left: 0px;
    color:rgb(51,51,51);
    font-weight: bold;
    text-decoration: none !important;
}

::ng-deep #documentos .mensaje{
    padding: 6%;
    padding-top: 2%;
    padding-bottom: 1%;
    background:rgb(245,208,18);
    font-family: 'titillium-bold', 'arial', sans-serif;
}

@media only screen and (max-width: 600px) {
    ::ng-deep #portada #imagen {
        margin-top: 40px;
    }
}