<div class="container">
    <div class="row mt-5">
        <div class="col-lg-4 col-sm-12">
            <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon bg-success">
                        <i class="material-icons">file_copy</i>
                    </div>
                    <p class="card-category">Documentos</p>
                    <h3 class="card-title">{{documentos.length}}
                    </h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <a href="/documentos">Ver documentos</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12">
            <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon bg-warning">
                        <i class="material-icons">edit</i>
                    </div>
                    <p class="card-category">Borradores</p>
                    <h3 class="card-title">49
                    </h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <a href="#">Ver borradores</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12">
            <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon bg-info">
                        <i class="material-icons">account_circle</i>
                    </div>
                    <p class="card-category">Usuarios</p>
                    <h3 class="card-title">50
                    </h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <a href="#">Ver usuarios</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>